* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* color: #f5f5f5; */
}

.header {
  width: 100%;
  height: 83px;
  background-color: #233878;
}

.content-header {
  max-width: 1140px;
  height: 100%;
  margin: auto; /* centraliza o conteúdo */
  display: flex;
  align-items: center; /*alinha vertical */
  justify-content: space-between; /* alinha horizontal */
}

.navigation {
  display: flex;
  gap: 35px;
  font-weight: 500;
  font-size: 14px;
  color: #f5f5f5;
}

button {
  width: 134px;
  height: 42px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #f5f5f5;
  background-color: #025d92;
  border: 0;
}

.hero-section {
  width: 100%;
  height: 741px;
  position: relative;
  background: url(./assets/bg-hero.jpg) no-repeat top center/cover;
}

.vector-top {
  width: 391px;
  position: absolute;
  right: 0;
}

.vector-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero-section-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 63px;
}

.content-text {
  font-size: 30px;
  color: #f5f5f5;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

.about-us-section {
  width: 100%;
  background-color: #025d92;
  height: 824px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.content-left-about-us {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.content-right-about-us {
  max-width: 575px;
  margin-right: 150px;
  display: flex;
  flex-direction: column; /*quebra de conteúdo*/
  gap: 27px;
  justify-content: center;
}

.title-about-us {
  text-align: left;
  font-weight: 600;
  font-size: 40px;
  line-height: 79px;

  color: #f5f5f5;
}

.title-about-us span {
  color: #233878;
}

.content-text-about-us {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #f5f5f5;
}

.vector-bottom-about-us {
  position: absolute;
  right: 0;
  bottom: 0;
}

.element-info-section {
  position: absolute;
  right: 0;
}

.info-section {
  border: solid 1px red;
  height: 100%;
}

.info-section-content {
  border: solid 1px red;
  width: 1139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 100px;
}

.button-top {
  display: flex;
  justify-content: center;
  background-color: rgba(29, 64, 128, 0.2);
  width: 135px;
  height: 100%;
  border-radius: 5px;
  padding: 12px 5px;
  gap: 9px;
}

.button-info-section {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #1d4080;
}

.title-info-content {
  text-align: center;
  gap: 25px;
  display: grid;
  margin-top: 23px;
}

.title-info-section {
  font-weight: 600;
  font-size: 25px;
  line-height: 34.88px;
}

.subtitle-info-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

.card-blue-info {
  background-color: #1d4080;
  border-radius: 20px;
  box-shadow: 4px 4px 15px 0px #00000026;
  width: 349px;
  height: 365px;
  padding: 29px;
}

.card-blue-info h1 {
  font-family: "Public Sans";
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 29.9px;
  color: #f5f5f5;
}

.card-blue-info p {
  font-weight: 300;
  font-size: 16px;
  color: #f5f5f5;
}

.button-card-info {
  background-color: #11538f;
  width: 291px;
  height: 48px;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
